---
import { Picture } from '@astrojs/image/components';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  image = await Astro.slots.render('image'),
} = Astro.props;

---

<section class="relative md:-mt-[300px] md:-mb-[200px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-2 sm:px-6">
    <div class="pt-0 md:pt-[100px] pointer-events-none"></div>
    <div class="py-6 md:py-10 lg:py-0 lg:flex lg:items-center lg:h-screen lg:gap-20">    
      <div class="absolute bg-blue-500 bg-blend-color-burn text-center text lg:text-left pb-10 md:pb-16 mx-60">
        {
          title && (
          
            <h1
            class="text-5xl md:text-6xl font-bold"
              set:html={title}
            />
          
          )
        }
      
        <div class="max-w-3xl mx-auto lg:max-w-none">
          {subtitle && <p class="text-xl md:bg-opacity-100 mb-6 dark:text-slate-300" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 lg:justify-start lg:m-0 lg:max-w-5xl">
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div class="">
        {
          image && (
            <div class="relative m-auto">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="max-lg:2040 rounded-md"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={2040 / 1090}
                  loading="eager"
                  width={2040}
                  height={1090}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>  
    </div>
  </div>
</section>
