---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

var startYear = new Date(1995,5,9);   // The Date I started working for Parity Computers. 🙂
var today = new Date();
var yearsDiff = today.getFullYear() - startYear.getFullYear();
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  

  <Hero
    image={{ src: import('~/assets/images/rg-hero-tp.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Hello, I'm Wayne
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I have been working in the IT industry for the last <span class="font-semibold">{yearsDiff}</span> years.
      </span>
      <br/>
      Recently I moved into a development role.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="The most recent posts"
    information={``}
    
  />

</Layout>
